.links{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.links div{
    padding: 20px 0;
}
.links div a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.links div a:hover {
   color: #c49558;
}
.links .block{
    width: 28%;
}
 .gr{
    font-size: 60px;
    font-weight: bolder;
    padding: 30px 0;
     background: -webkit-linear-gradient(#3bdefa, #1358fd);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
 .lt{
     background: -webkit-linear-gradient(#3bdefa, #1358fd);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }


footer{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,150,253,1) 100%);
    display: flex;
    flex: 0 0  auto;
}
 .box1{
     display: flex;
     justify-content: space-between;
     align-items: center;
font-size: 20px;
     padding: 150px 0;
     color: white;
     font-weight: bold;
 }
 .box1 span{
    color: #745832;
 }
 .box1 div{
     padding: 15px 0;
 }

