@import url('https://fonts.googleapis.com/css2?family=Gafata&family=Leckerli+One&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}
.container{
    width: 90%;
    margin: 0 auto;
}
header{
    width: 100%;
    padding: 40px 0;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,150,253,1) 100%);
    color: white;
}
header .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a{
    font-family: 'Monoton', cursive;
    font-size: 50px;
    color: white;
    text-decoration: none;
}
.logo p{
    font-size: 40px;
    margin: 0 20px;
    font-family: 'Pacifico', cursive;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}




/*nav dropdown*/
.dropbtn {
 background: transparent;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,150,253,1) 100%);
    width: 280px;
    justify-content: space-between;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    z-index: 20;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
}
.dropdown-content a:hover {
    color: burlywood;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    background: burlywood;
}